a{
	text-decoration: none;
}
/*Navbar*/
.navbar-brand{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
nav{
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
}
.nav-link{
	color:white !important;
	font-weight: 500;
}
.nav-link:hover{
	color:crimson !important;
}
/*Home*/
.home{
	margin-top: 70px;
	background-color: black;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
}
.home a,.about a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	text-decoration: none;
	border: 2px solid crimson;
	transition: all 0.3s ease;
}
.home a:hover, .about a:hover{
	color: crimson;
	background: none;
}
.text-1{
	font-size: 27px;
}
.text-2{
	font-size: 75px;
	font-weight: 600;
}
.text-3{
	font-size: 40px;
}
@media only screen and (max-width: 600px) {
  .text-2{
  	font-size: 60px;
  }
  .text-3{
  	font-size: 35px;
  }
}
/*About*/
.about .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-top: 40px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu',sans-serif;
}
.about .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}