a{
	text-decoration: none;
}
/*Navbar*/
.navbar-brand{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
nav{
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
}
.nav-link{
	color:white !important;
	font-weight: 500;
}
.nav-link:hover{
	color:crimson !important;
}
/*Home*/
.home{
	margin-top: 70px;
	background-color: black;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
}
.home a,.about a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	text-decoration: none;
	border: 2px solid crimson;
	transition: all 0.3s ease;
}
.home a:hover, .about a:hover{
	color: crimson;
	background: none;
}
.text-1{
	font-size: 27px;
}
.text-2{
	font-size: 75px;
	font-weight: 600;
}
.text-3{
	font-size: 40px;
}
@media only screen and (max-width: 600px) {
  .text-2{
  	font-size: 60px;
  }
  .text-3{
  	font-size: 35px;
  }
}
/*About*/
.about{
	padding-top: 50px;
}
/*Skills*/
.skills{
	background: #111;
	color: #fff;
	font-family: 'poppins',sans-serif;
	padding-top: 50px;
}
.skills .bars{
	margin-bottom: 15px;	
}
.skills .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .line{
	height: 5px;
	width: 100%;
	background:lightgrey;
	position: relative;
}
.skills .line::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: crimson;
}
.skills .html::before{
	width: 90%;
}
.skills .css::before{
	width: 60%;
}
.skills .js::before{
	width: 85%;
}
.skills .java::before{
	width:70%;
}
.skills .ct::before{
	width: 80%;
}
/*Contact Me*/
.contact{
	font-family: 'poppins',sans-serif;
	padding-top: 50px;
}
/*Footer*/
footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
}
/*Common*/
.title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-family: 'Ubuntu',sans-serif;
}
.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
svg{
	fill:crimson;
}